.m
.venv
.DS_Store
.vscode
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
.coverage.*
exported_datasets/
log.txt
scripts/log.txt
create_random_samples_log.txt
__pycache__/
.env
deduplication_log.txt
kaggle_datasets_sdk/